<html>
    <head>
        <meta charset="utf-8">
        <title>ILS: Intelligent Locker System</title>
    </head>
    <body id="body">
    <header>
        <h2 class="ILS"> Intelligent Locker System </h2>
        <h1> Welcome to the Intelligent Locker System</h1>
        <h1>Please Swipe Your Bearcat Card to Access a Locker!</h1>
    </header>
    </body>

</html>

{% load staticfiles %}
<link href="{% static 'ILSA/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'ILSA/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'ILSA/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ILSA/NFCRead.js' %}"> </script>
<link href="{% static 'ILSA/style.css' %}" rel="stylesheet">