
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="3;url={% url 'ILSA:home page' %}" />
    </head>
    <body>
    {% if flag %}
        <h1>You have checked out of locker {{ lock_num }}!</h1>
        <h1>Please go to <strong>locker {{ lock_num }} </strong> and press the button to unlock your locker.</h1>
        <h1>Thank you for using the Intelligent Locker System!</h1>
        <h1>Returning home in 3 seconds...</h1>
    {% else %}
        <h1>You have checked into locker {{ lock_num }}!</h1>
        <h1>Please go to <strong>locker {{ lock_num }} </strong> and press the button to unlock your locker.</h1>
        <h1>Returning home in 3 seconds...</h1>
    {% endif %}
    </body>
</html>
